.SummaryModal{
   width: 377px;
   padding: 31px;
   border-radius: 8px;
   margin-left: auto;
   background-color:white;
}

/* The Close Button */
.SummaryModal .closebtn {
   background-color:white;
   border:none;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .SummaryModal .closebtn:hover,
 .SummaryModal .closebtn:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }


.SummaryModal > .items{
   margin: 31px 0px;
}

.SummaryModal .item{
   margin-bottom: 24px;
   align-items: center;
}

.SummaryModal img{
   width: 64px;
   height: 64px;
}

.SummaryModal .itemDetails{
   margin-left:16px;
}


.SummaryModal .itemName{
   font-weight: bold;
}


.SummaryModal .itemPrice{
   color:#4a4a4a;
   font-size: 15px;
   font-weight: 500; 
   line-height: 1.79;
}

.SummaryModal .buttonsCountContainer{
   width:70px;
   justify-content: space-between;
   align-items:center;
   background-color: #f1f1f1;
   padding: 5px;
}

.SummaryModal .buttonsCountContainer .itemCount{
   font-weight: bold;
}

.SummaryModal .buttonsCountContainer button{
   background-color: #080808;
   color:white;
   border:none;
   width:18px;
   height:22px;
}

.SummaryModal .price{
   display: flex;
   justify-content: space-between;
   margin-bottom:24px;
}

.SummaryModal .price p{
   color:#4a4a4a;
   font-size: 17px;
   font-weight: 400; 
   line-height: 1.67;
}


