.MessegeForCartEmpty{
   text-align: center;
}

.MessegeForCartEmpty img{
   width : 200px;
   height : 200px;
}

.MessegeForCartEmpty p{
   font-size : 30px;
   margin: 30px 0px;
}

/******************************************************/
.ShoppingCartItems {
   margin: 50px 12px 50px 12px;
}

.ShoppingCartItems .ShowItemsInCart {
   justify-content: space-around;
   border-bottom: 1px solid gray;
   margin-bottom: 20px;
}
.ShoppingCartItems .ShowItemsInCart img{
   width : 120px;
   height : 120px;
   margin-bottom: 12px;
}
