/**************** For mobile phones: ****************/
.Header{
  background-color: #101010;
  color:white;
}

.Header-container {
  padding: 0px 24px;
  width: 100%; 
  height: 100%;
}

.Header-part1{
  height: 97px; 
  justify-content: space-between;
  align-items: center; 
}

.Header-part1 .logo{
  color: white;
  font-size:28px;
  font-weight: bold;
  text-decoration: none;
  border:none;
  background-color: #101010;
}

.Header .NavBar{
  background-color: #101010;
  padding: 0px 24px 16px 24px;
}

.topnavBtn{
  background-color: #101010;
  color:white;
  border:none;
  font-size: larger;
}

/* .Header > .NavBar-option-column > .NavBar > ul li a{
  text-align: left;
} */

/******************* .shoppingCartBtn *******************************/
.shoppingCartBtn {
  background-color: #101010;
  border:none;
  padding: 5px;
  position: relative;
}

.shoppingCartBtn:hover {
  background-color: #555;
}

.shoppingCartBtn > img{ 
  width: 30px;
  height: 30px;
}

.shoppingCartBtn .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .Header-container {
    padding: 0px 39px;
  }

  .topnav-responsive-and-logo{
    width: 210px;
    justify-content: space-between;
    align-items: center;
  }

  .topnav-responsive-and-logo > .logo{
    display:block;
  } 

   .Header-part1> .logo {
    display:none;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .Header-container {
    padding: 0px 50px;
  }

  .Header-container .NavBar-option-row{
    display: block;
  }

  .Header-container .NavBar-option-column{
    display: none;
  }

  .topnav-responsive-and-logo{
    display: none;
  }

  .Header-part1 .logo{
    display:block;
  } 

  .topnav-content-responsive{
    display: none;
  }
}