.Header{
  background-color: #101010;
  color:white;
  height: 97px;
}

/**************** For mobile phones: ****************/
.Header-container {
  padding: 0px 24px;
  width: 100%; 
  height: 100%;
   justify-content: space-between;
  align-items: center; 
}

.Header .NavBar{
  background-color: #101010;
  padding: 0px 24px 16px 24px;
}

.Header > .NavBar-option-column > .NavBar > ul li a{
  text-align: left;
}


/******************* .shoppingCartBtn *******************************/
.shoppingCartBtn {
  background-color: #101010;
  border:none;
  padding: 5px;
  position: relative;
}

.shoppingCartBtn:hover {
  background-color: #555;
}

.shoppingCartBtn > img{ 
  width: 30px;
  height: 30px;
}

.shoppingCartBtn .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 7px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .Header-container {
    padding: 0px 39px;
  }

  .ToggleBarAndTitle{
    width: 210px;
    justify-content: space-between;
    align-items: center;
  }

  .ToggleBarAndTitle > h2{
    display:block;
  }

  .Header-container > h2 {
    display:none;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .Header-container {
    padding: 0px 50px;
  }

  .Header-container .NavBar-option-row{
    display: block;
  }

  .Header-container .NavBar-option-column{
    display: none;
  }

  .ToggleBarAndTitle{
    display: none;
  }

  .Header-container > h2 {
    display:block;
  }
}