.Xx99Mark1-page{
   margin: 160px 50px 0px 50px;
}

.Xx99Mark1-part1,.Xx99Mark1-part2{
   margin-bottom: 160px;
}
   
/*********************** .Xx99Mark1-part1 ***********************/
.Xx99Mark1-part1{
   justify-content: space-between;
   align-items: center;
}

.Xx99Mark1-part1 > img{
   width: 540px;
   height: 560px;
   background-color:gray;
}

.Xx99Mark1-part1-productDetails{
   width: 445px;
   height:400px;
   justify-content: space-between;
}

.Xx99Mark1-part1-productDetails > h1{
   line-height: 1.2;
   font-size: 40px;
   font-weight: 650;
}

.Xx99Mark1-part1-productDetails > h3{
   color:#d87d4a;
   font-weight: 400;
   font-weight: bold;
   letter-spacing: 10px;
}

.Xx99Mark1-part1-productDetails > p{
   color: gray;
}

.Xx99Mark1-part1-productDetails-btns{
   align-items: center;
}

.countBtn {
   width: 120px;
   height: 48px;
   padding: 1px 6px;
   font-size: 13px;
   margin: 0 16px 0 0;
   padding: 15px 15.5px;
   background-color: #f1f1f1;
   border: none;
   font-weight: bold;
   cursor: pointer;
}

.countBtn:hover {
   background-color: lightgray;
}

/*********************** .Xx99Mark1-part2 ***********************/
.Xx99Mark1-part2{
   justify-content: space-between;
}

.Xx99Mark1-part2 .features{
   width: 635px;
   height:320px;
   justify-content: space-between;
}

.Xx99Mark1-part2 .inTheBox{
   width: 350px;
}

.Xx99Mark1-part2 .inTheBox > h1{
   margin-bottom:30px;
}


/*********************** .Xx99Mark1-part3 ***********************/
.Xx99Mark1-part3-images{
   justify-content: space-between;
   height: 592px;
}

.Xx99Mark1-part3-images .Xx99Mark1-part3-sideLeft{
   justify-content: space-between;
}

.Xx99Mark1-part3-images .Xx99Mark1-part3-sideLeft img{
   width: 445px;
   height: 280px;
   border-radius: 5px;
}

.Xx99Mark1-part3-images .Xx99Mark1-part3-sideRight{
   width: 635px;
   border-radius: 20px;
}
