
.AboutUs{
   justify-content: space-between;
   background-color: white;
   height: 588px;
}

.AboutUs-text{
   width: 540px;
   justify-content: center;
}

.AboutUs h1{
   font-size: 45px;
   line-height: 1.1;
   font-weight: 500;
   margin-bottom:32px;
}

.AboutUs p{
   color: gray;
}

.AboutUs img{
   width: 540px;
}