
/**************** For mobile phones: ****************/
.AboutUs{
   background-color: white;
   height: 588px;
   text-align: center;
   align-items: center;
}

.AboutUs-text{
   width:80%;
}

.AboutUs h1{
   margin: 40px 0px 32px 0px;
   font-size: 28px;
   font-weight: 500;
   letter-spacing: 1px;
}

.AboutUs h1 span{
   color: #d87d4a;
}

.AboutUs p{
   opacity: 0.5;
   font-size: 15px;
   font-weight: 500;
   line-height: 1.67;
   text-align: center;
}

.AboutUs img{
   width: 100%;
   height: 300px;
}


 @media only screen and (min-width: 600px) {
   /* For tablets: */
   .AboutUs h1{
      margin: 63px 0px 32px 0px;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.1;
      letter-spacing: 1.43px;
   }
 }
 
 @media only screen and (min-width: 768px) {
   /* For desktop: */
   .AboutUs{
      flex-direction: row-reverse;
      /* flex-wrap: wrap; */
      justify-content: space-between;
   }
   .AboutUs img{
      max-width: 540px;
      height: 588px;
   }

   .AboutUs-text{
      max-width: 445px;
      justify-content: center;
   }
   
   .AboutUs h1{
      font-size: 45px;
      line-height: 1.1;
      font-weight: 500;
      margin-bottom:32px;
   }
 }