.Home{
   background-color: white;
}

/**********************.Home-part1 *****************************/
.Home-part1{
   background-color: #101010;
   /* padding: 100px 0px 50px 0px; */
   margin-bottom: 120px; 
   align-items: center;
   justify-content: space-between;
}

.Home-part1 > img{
   background-color: #101010;
   width: 708.8px;
   height: 729px;
   margin: 0px 50px;
}

.Home .Home-part1 .newProduct {
   width: 360px;
   height:350px;
   color: white;
   margin: 0px 50px;
   justify-content: space-between;
}

.Home .Home-part1 .newProduct h1{
   font-size:50px;
   font-weight: 500;
   line-height: 1.04;
   letter-spacing: 2px;
}

/**********************.Home-part3 *****************************/
.Home .Home-part3 {
   background-color: #d87d4a;
   color: white;
   align-items: flex-end;
   justify-content: space-around;
   margin-bottom: 120px;
   height: 560px;
}

.Home .Home-part3 .ZX9speaker {
   justify-content: space-between;
   align-self: center;
   width: 330px;
   height: 350px;
   margin-right: 50px;
}

.Home .Home-part3 .ZX9speaker > h1 {
   font-size: 66px;
   font-weight: normal;
   line-height: 1;
}

/**********************.Home-part4 *****************************/
 .Home-part4 {
   position: relative;
   margin-bottom: 120px;
   /* width: 1110px; */
   height: 320px;
   justify-content: space-around;
 }

 .Home-part4 img{
    width: 100%;
    border-radius: 8px;
 }
 
 .Home .Home-part4 .ZX7speaker {
   position: absolute;
   top: 30%;
   left: 10%;
   /* transform: translate(-50%, -50%); */
   padding-left: 20px;
   padding-right: 20px;
 }

 .ZX7speaker h1{
   margin-bottom: 32px;
 }

 .Home-part5 {
   margin-bottom: 120px;
   justify-content: space-between;
 }

 .Home .Home-part5 .earphonesYX1{
   width: 540px;
   height: 320px;
   justify-content: center;
   border-radius: 8px;
   background-color: #f1f1f1;
   padding-left:95px;
 }

 .Home .Home-part5 .earphonesYX1 h1{
   margin-bottom: 32px;
 }

