/**************** For mobile phones: ****************/
.Product {
   justify-content: space-between;
   align-items: center;
}

.Product img {
   width:100%;
   height:auto;
}

.Product .productDetails {
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin-bottom:120px;
}

.Product p {
   text-align: center;
}

.Product .titleNewProduct {
   color: #d87d4a;
   font-size: 14px;
   letter-spacing: 10px;
   margin: 24px 0px;
}

.Product .titleProductName {
   font-size: 28px;
   font-weight: bold;
   letter-spacing: 1px;
}

.Product .titleProductDesc {
   font-weight: 500;
   opacity: 0.5;
   margin: 24px 0px;
   line-height: 1.67;
}

@media only screen and (min-width: 600px) {
   /* For tablets: */
   .Product .titleNewProduct {
      margin: 52px 0px 16px 0px;
   }

   .Product .titleProductName {
      width: 300px;
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: 1.43px;
   }

   .Product .titleProductDesc {
      margin: 32px 0px 24px 0px;
   }
}

@media only screen and (min-width: 768px) {
   /* For desktop: */
   .Product {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 160px;
      width: 100%;
      /* min-height: 354px;
      max-height: 560px; */

   }
   /* .Product-container{
      height: 560px;
   } */

   /* .Product-container:nth-of-type(even) {
      flex-direction: row-reverse;
   }

   .Product-container:nth-of-type(odd) {
      flex-direction: row;
   } */

   .Product img {
      min-width: 334px;
      max-width:540px;
      height:auto;
   }

   .Product .productDetails {
      min-width: 334px;
      max-width:445px;
      height:auto;
      align-items: flex-start;
      justify-content: center;
      margin-bottom:0px;
   }

   .Product .titleNewProduct {
      margin: 0px 0px 16px 0px;
   }

   .Product p {
      text-align: left;
   }

   .Product .titleNewProduct {
      margin-bottom: 16px;
   }

   .Product .titleProductDesc {
      margin: 32px 0px 40px 0px;
   }
}
