/**********************.pages-part1 (title) *****************************/
.title {
   padding-top: 100px;
   padding-bottom: 50px;
   text-align: center;
   background-color: #101010;
}

.title > h1{
   color: white;
   font-size:40px;
   font-weight: 500;
}

/**********************.pages-part2 (page) *****************************/
.page:not(.Home-part1){
   margin: 0px 50px;  
}

.page > .products {
   padding-top: 200px;
   padding-bottom: 50px;
   background-color: white;
   margin-bottom: 160px;
}



@media screen and (min-width:376px) and (max-width:768px) {  
   .title{
      display:none;
   }
}

@media screen and (max-width:375px) {
   .header .title{
      display:block;
   }

   .title > h1{
      font-size: 28px;
   }
}

