/* .Xx99Mark1-page{
   margin: 160px 50px 0px 50px;
}

.Xx99Mark1-part1,.Xx99Mark1-part2{
   margin-bottom: 160px;
} */

/**********************.pages-part1 (title) *****************************/
.title {
   padding-top: 100px;
   padding-bottom: 50px;
   text-align: center;
   background-color: #101010;
}

.title > h1{
   color: white;
   font-size:40px;
   font-weight: 500;
}

/**********************.pages-part2 (page) *****************************/
.page:not(.Home-part1){
   margin: 0px 50px;  
}

.page > .products {
   padding-top: 200px;
   padding-bottom: 50px;
   background-color: white;
   margin-bottom: 160px;
}

