/**************** For mobile phones: ****************/
.page-title {
   padding: 32px 0px;
   text-align: center;
   background-color: #101010;
}

.page-title > h1{
   color: white;
   font-size: 28px;
   font-weight: bold;
}

.page-content{
   background-color: #fafafa;
   margin: 64px 24px 120px 24px;
}


@media only screen and (min-width: 600px) {
   /* For tablets: */
   .page-title {
      padding: 97px 0px;
   }
   
   .page-title > h1{
      font-size: 40px;
      font-weight: bold;
   }

   .page-content{
      margin: 120px 40px;
   }
 }
 
 @media only screen and (min-width: 768px) {
   /* For desktop: */
   .page-content{
      margin: 160px 50px;
   }
 }
