.Checkout{
  margin-top:53px;
}

form{
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.checkout-part1, .checkout-part2 , .checkout-part3{
  margin-top:50px;
}

.Checkout .subtitle{
  color: #d87d4a;
  margin-bottom: 16px;
  letter-spacing: 0.93px;
}

.Checkout label{
  font-weight: bold;
  margin-bottom: 5px;
}

.Checkout input{
  width: 309px;
  height: 56px;
  margin: 9px 0 0;
  padding: 18px 141px 19px 24px;
  border-radius: 8px;
}

.col , .box{
  display:flex;
  flex-direction: column;
  /* border:1px solid black; */
}


.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.icon-container i{
  margin-right:20px;
}

/* .checkout-part2{
  margin: 64px 50px 0px 50px; 
  justify-content: center;
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .checkout-container {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
