/**************** For mobile phones: ****************/
.CategoriesShops{
   margin-bottom:120px;
}

.CategoriesShops .Shop{
   text-align: center;
   /* border: 1px solid blue; */
}

.CategoriesShops .shop-box {
   background-color: #f1f1f1;
   align-items: center;
   justify-content: center;
   width: 100%;
   /* border: 1px solid black; */
   border-radius: 8px;
   padding-top: 50px;
}

.CategoriesShops .Shop img {
   width: 150px;
   height: 150px;
   position: relative;
   top: 80px;
   /* border: 1px solid black; */
   cursor: pointer;
}

.CategoriesShops .Shop h3 {
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 1.07px;
}

/*icon*/
.CategoriesShops .Shop i {
   color: orange;
   margin-left: 10px;
}

@media only screen and (min-width: 600px) {
   /* For tablets: */
   .CategoriesShops {
      display: flex;
      justify-content: space-between;
      margin-bottom:96px;
   }
   .CategoriesShops .Shop {
      width:30%;
   }
}

@media only screen and (min-width: 768px) {
   /* For desktop: */
   .CategoriesShops .Shop {
      /* height: 204px; */
   }

   .CategoriesShops .shop-box {
      height: 204px;
   }
   
   .CategoriesShops .Shop img {
      width: 200px;
      height: 200px;
      position: relative;
      top: 130px;
   }

   /* .CategoriesShops .Shop img {
      width: 125px;
      height: 126px;
   } */

   .CategoriesShops .Shop h3 {
      font-size: 18px;
      letter-spacing: 1.29px;
   }
}
