.Footer{
    width: 100%;
    height: 654px;
    background-color: black;
    margin-top: 160px;
    color: white;
}

/**************** For mobile phones: ****************/
.Footer-container {
    padding: 48px 0px 16px 0px;
    margin: 0px 24px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.Footer p{
    opacity: 0.6;
    text-align: center;
}

/*icons:facebook, twitter,instagram*/
.Footer-general-links{ 
    justify-content: center;
}

.Footer-general-links >img{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: 16px;
}

.Footer-part1 h2{
    margin-bottom:48px;
    font-size: 26px;
}

/******** Footer-part3 ********/
.Footer-part3{
    width: 100%;
    height: 97px;
    justify-content: space-between;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Footer{
        height: 400px;
    }

    .Footer-container {
        padding: 60px 0px 46px 0px;
        margin: 0px 40px;
        align-items: flex-start;
    }

    .Footer p{
        text-align: left;
    }

    /******** Footer-part1 ********/
    .Footer-part1 h2{
        margin-bottom:32px;
    }

    .Footer-part1 .NavBar-option-column{
        display: none;
    }

    .Footer-part1 .NavBar-option-row{
        display: block;
    }

    /******** Footer-part2 ********/
    .Footer-part2 .Footer-general-links{
        display:none;
    }

    /******** Footer-part3 ********/
    .Footer-part3{
        flex-direction: row;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .Footer{
        height: 365px;
    }
    .Footer-container {
        padding: 75px 0px 48px 0px;
        margin: 0px 50px;
    }

    /******** Footer-part1 ********/
    .Footer-part1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Footer-part1 h2{
        margin-bottom:0px;
    }

    .Footer-part1 .NavBar-option-column{
        display: none;
    }

    .Footer-part1 .NavBar-option-row{
        display: block;
    }

    /******** Footer-part2 ********/
    .Footer-part2{
        width: 100%;
        justify-content: space-between;
    }

    .Footer-part2 p{
        width: 540px;
    }

    .Footer-part2 .Footer-general-links{
        display:block;
    }

    .Footer-part2 .Footer-general-links{
        align-self: flex-end;
    }

    /******** Footer-part3 ********/
    .Footer-part3 .Footer-general-links{
        display: none;
    }
}