.Footer{
    /* background-color: #101010; */
    background-color: black;
    padding-top: 40px;
    margin-top: 160px;
    color: white
}

.Footer-container {
    margin: 0px 50px;
}

.responsive{
    display: none;
}

.Footer-part1 , .Footer-part2{
    justify-content: space-between;
}

.Footer-part2 > .text{
    margin: 20px 0px;
    width: 540px;
}

.Footer-general-links{ /*icons*/
    align-items: center;
}

.Footer-general-links >img{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: 16px;
}


@media screen and (max-width: 767px) {
    /* For tablets: */
    .Footer-part1 {
        flex-direction: column;
    } 
    
    .Footer-part2 > .text{
        width: 100%;
    }

    .Footer-part3{
        display: none;
    }

    .Footer-general-links{
        display:none;
    }

    .Footer-general-links.responsive{
        display: flex;
    }

    .Footer-part4{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:120px;
    }
}

@media screen and (min-width: 375px) and (max-width: 620px) {
    /* For mobile phones: */
    .Footer-container {
        align-items: center;
        text-align: center;
    }

    .Footer-part2 > .text{
        margin: 48px 0px;
    }

    .Footer-part1 > .NavBar > ul{
        display:flex;
        flex-direction: column;
    }

    .Footer-part4{
        flex-direction: column;
        justify-content: space-between;
    }
}